* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b3e;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}
/* common */
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.section__heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.section__desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
/* header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
}
.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}
.header-action__btn {
    --height: 56px;
    min-width: 118px;
}
/* HERO */
.hero {
    margin-top: 74px;
}
.hero__media {
    padding-bottom: 94px;
    display: flex;
    position: relative;
}
.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 120px;
    justify-content: space-between;
}
.hero__img-wrap {
    position: relative;
}
.hero__img {
    border-radius: 16px;
    border: 3px solid #fff;
    width: 388px;
    height: 488px;
    object-fit: cover;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -80px;
    bottom: 10px;
}
.hero__decor-right {
    top: 16px;
    right: -40px;
}
.hero__img-wrap-small {
    z-index: 1;
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    border-radius: 12px;
    background: #f7dddf;
}
.hero__img-small {
    object-fit: cover;
    border-radius: 12px;
    width: 186px;
    height: 244px;
}
.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    width: 250px;
    height: 165px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 2;
}
.hero__list-item {
    display: flex;
}
.hero__list-item__thumb {
    border-radius: 10px;
    object-fit: cover;
    width: 40px;
    height: 40px;
}
.hero__list-item__info {
    margin-left: 10px;
}
.hero__list-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero__list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}
.hero__list-item-separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}
.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}
.hero__desc {
    width: 391px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}
.hero__row {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.hero__cta-btn {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    --height: 60px;
    min-width: 190px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta {
    margin-left: 24px;
    color: #000958;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}
/* ABOUT */
.about {
    margin-top: 138px;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}
.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.about__heading {
    margin-top: 15px;
}
.about__heading,
.about__desc {
    width: 444px;
}
.about__checklist {
    margin-top: 54px;
    display: grid;
    gap: 36px;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}
.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}
.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}
.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../img/about-check.svg);
}
/* ABOUT CARD */
.about__media {
    position: relative;
}
.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
}
.about__card-title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}
.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
}
.about__img-wrap {
    width: 494px;
    margin-left: auto;
}
.about__img {
    border-radius: 12px;
    width: 494px;
    height: 602px;
    object-fit: cover;
}
.about__img-wrap-bottom {
    margin-left: 0;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}
.tab__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}
.tab__item--active::after {
    width: 95px;
    opacity: 1;
}
.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
}
.tab__title {
    margin-left: 10px;
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.tab__content {
    padding-top: 36px;
}
.tab__content-item {
    display: none;
}
.tab__content-item--active {
    display: block;
}
.tab__content-desc {
    width: 391px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
}
.tab__content-more {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 32px;
    color: #ff5d31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}
.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}
/* service */
.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background-color: #fff6ed;
}
.service__top {
    text-align: center;
}
.service__desc {
    margin-top: 15px;
    color: #5e6085;
    font-family: Sora sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.section__heading {
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}
.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 70px;
}
.service-item {
    padding: 30px;
    width: 294px;
    background-color: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}
.service-item + .service-item {
    margin-top: 24px;
}
.service-item__heading {
    position: relative;
    padding-left: 12px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.service-item__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    content: "";
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);
}
.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.service-item__more {
    display: inline-block;
    margin-top: 28px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}
.service-item__more::after {
    content: url(../img/arrow-up-right.svg);
    margin: 2px 0 0 5px;
}
.service__img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}
.service__media {
    position: relative;
    margin-top: 18px;
}
.service__media::after {
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}
.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
}
/* staff */
.staff {
    padding: 130px 0;
}
.staff__desc,
.staff__heading {
    text-align: center;
}
.staff__desc {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}
.staff-item {
    text-align: center;
}
.staff-item__img {
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    border-radius: inherit;
}
.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    background-image: url(../img/staff-decor-01.svg);
    left: 50%;
    bottom: -20px;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    transform: translateX(-50%);
}
.staff-item__title {
    margin-top: 34px;
    color: #656689;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}
.staff-item__name {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2;
}
.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.staff__cta {
    min-width: 193px;
    color: #ff5b2e;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-color: #ff5b2e;
}
